@media only screen and (max-width:520px){
.nav1{
    height: fit-content;
    position: fixed;
    backdrop-filter: blur(3px);
    background-color:#5c774dd4 ;
    width: 100%;

   
}
.buy{
    position: absolute;
    right: 5%;
    top: 15%;
   height: 40px;

}
#search3{
    width: 70%;
    margin-left: 0px;
}
.search-btn{
    width: 15%;
}
#menu{
width: 15%;
background-color:rgb(247, 253, 241);
border-radius:0px;
height: 45px ;
border: none;
font-size: 16px;
margin-top: 1%;
}
#menu:hover{
    border: none;
    box-shadow: none;
}
#menu:focus{
    border: none;
    box-shadow: none;
}
.welcome{
    margin-top: 40%;
 
}
.head2{
    margin-top: 22px;
}
.hdep{
    font-size: 60px;
}
.card{
   width: 90%;
    box-shadow:rgba(61, 63, 61, 0.712) 7px 1px 9px 1px ;
    }
    .most{
       
        margin-top: 40%;
    }
    .nav2{
        display: none;
    }
    .hup{
        margin-top: 33%;
       
    
    }
    #nav-3{
        display: none;
    }
    .top-p1{
        margin-top: 15%;
    }
    .back{
        margin-top: 65%;
        width: 100%;
    }
    .platfrom{
        margin-top: 55%;
        width: 100%;
    }
    #ab-data{
        margin-top: 0%;
    }
    #back-image{
    background-position: 100%;
    background-size: cover;
    background-repeat: repeat;
   
      
    }
    .front-image{
        height: 60vh;
        overflow: hidden;
        font-size: 2rem;
    }
  
    .about-cont{
        font-size: 14px;
    }
    .footer{
        height:25vh;
    }
    .shopping-cart{
        margin-top: 33%;
    }

}
@media only screen and (min-width:1000px){
    #all{
        margin-left: 17%;
    }

}
