body{
    margin: auto;
    background-color:white;
    overflow-x: hidden;

}
.nav1{
    background-color: #5C774D;
    
    width: 100%;
    height: 14vh;
    padding-top: 10px;
    
}
.buy{
    background-color:#FFBF00;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    float: right;
    font-size: 17px;
    margin-top: 0.5%;
    transition: 0.3s;
}
.buy:hover{
    background-color:#ffbf00a8;
    width: 115px;
    height: 48px;
}
.buy1{
    background-color:#FFBF00;
    border: none;
    width: 120px;
    height: 50px;
    border-radius: 10px;
    margin:10px 10px 0px 140px;
    float: right;
    font-size: 17px;
}
#search3{
    width: 50%;
    height: 45px;
background-color:#F0F0F0;
border: none;
margin-top: 0px;
padding-left: 30px;
margin-left: 80px;
margin-right: 0px;
font-size:14px ;
margin-top: 1%;

}
.search-btn{
    width: 70px;
    height: 45px;
    border: none;
    background-color:rgb(61, 63, 61) ;
    color: #CF9;
    font-size: 16px;
    margin-top: 1%;

}
.head1{
    font-size: 53px;
    padding-left: 7px;
    font-weight: bold;
    font-family: OCR A ;
    color: black;
    text-decoration: none;
}
.head2{
    font-size:20px ;
    margin-top: 2%;
    color: rgb(61, 63, 61);
}
.nav2{
    width: 100%;
    height:100%;
    background-color:rgb(61, 63, 61) ;
    
    
    
    
}
aside{
width: 13%;
height: 90vh;
position: fixed;
top: 13vh;
}
li{
    list-style: none;
line-height: 40px;
font-size:20px ;
color: black;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: black;
}
.welcome{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-top: 6%;
    margin-left: 5px;

    

}
.hdep{
    font-size: 70px;
    margin-right: 30%;
    font-weight: bold;
}
.b{
    color: #CF9;
    font-size:90px ;
}
.sammury{
    display: flex;
    align-items: start;
    justify-content: start;
    margin-left: 5px;
    color: rgba(61, 63, 61, 0.712);
}
.btn1{
background: linear-gradient(200deg,#FFBF00,rgba(61, 63, 61, 0.916));
width: 150px;
height: 50px;
float: right;
border: none;
border-radius: 10px 0px  10px 10px;
margin-top: 5%;
margin-right: 30%;
font-size: 18px;
transition: 0.4s;
color: black;
}
.btn1:hover{
    border-radius: 10px 10px  0px 10px;
    color: rgba(39, 46, 42, 0.737);
   
    background: linear-gradient(220deg,#FFBF61,rgba(61, 63, 61, 0.799));
}

.img1{
    filter: grayscale(70%);
    margin-top: 10%;
}
.content2{
    height: fit-content;
    width: 100%;
    background-color: rgb(247, 253, 241);
    float: right;
    gap: 20px;
    display: flex;
    flex-wrap: wrap;
    grid-column: grid;
    overflow: visible;
    padding-top: 2%;
}
.most{
    display: flex;
    margin-top: 9%;
    background-color:rgb(247, 253, 241);
    color: rgba(61, 63, 61, 0.712);
    padding-left: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.most1{
    display: flex;
    background-color: #5c774d;
    height: fit-content;
   width: 80%;
   border-top:3px solid #CF9;
    color: rgb(61, 63, 61);
    padding-left: 40px;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
#form{
    width: 30%;
    height: 400px;
    margin-left: 15px; 
}
.card{
width: 30%;
height: 400px;
margin-left: 15px;
background-color:white;
border-radius: 23px 23px 0px 0px;
border-top: 10px black solid ;
box-shadow:rgba(61, 63, 61, 0.712) 7px 1px 9px 1px ;
}
.card:hover{
   

   
    box-shadow:#759b61 7px 1px 9px 1px ;
    }
    
.top-p1{
    position: absolute;
    margin-left: 50px;
    font-size: 30px;
    top: 80px;

    color: rgb(61, 63, 61);
    
    
}
.platfrom{
    width: 85%;
margin-top: 150px;

}
.back{
    width: 70%;
    height: 250px;
    margin-left: 25%;
    background-image: url(images\106177799-green-automobile-isolated-on-white-background.png);
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain ;
    float:left;
    position: absolute;
    margin-top: 15%;

}
.face{
    margin-top: 10px;
    border-left:5px solid rgb(31, 134, 198);
    background-color:rgba(59, 163, 228, 0.578) ;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    backdrop-filter: blur(3px);
}
.what{
    margin-top: 10px;
    border-left:5px solid rgb(11, 192, 47);
    background-color:rgba(31, 239, 62, 0.578) ;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    backdrop-filter: blur(3px);
}
.insta{
    margin-top: 10px;
    border-left:5px solid rgb(0, 0, 0);
    background-color:rgba(0, 0, 0, 0.578) ;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    backdrop-filter: blur(3px);
}
.disc{
    margin-top: 10px;
    border-left:5px solid rgb(243, 9, 9);
    background-color:rgba(246, 72, 45, 0.578) ;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    backdrop-filter: blur(3px);
}
.twitter{
    margin-top: 10px;
    border-left:5px solid rgb(40, 30, 231);
    background-color:rgba(14, 104, 240, 0.541) ;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    backdrop-filter: blur(3px);
}
.wordpress{
    margin-top: 10px;
    border-left:5px solid rgb(84, 86, 87);
    background-color:rgba(84, 86, 87, 0.452) ;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 33px;
    backdrop-filter: blur(3px);
}
.tel{
    width: 100%;
    height: 70px;
    background-color:black;
    text-align: center;
    
  
}
.tel a{
    color: rgb(61, 63, 61);
  
    font-size: 17px;
    
}
.tel a:hover{
  
    color:#CF9 ;
    text-decoration: none;
 }
.tel input{
    background-color: transparent;
    border: none;
    font-size: 19px;
    width:180px;
    color:rgb(61, 63, 61) ;
    font-weight: bold;
}
.follwing{
    color: #FFBF00;
    font-size: 20px;
}
.photos{
    background: linear-gradient(200deg,rgb(241, 223, 133),rgb(223, 148, 8));
     width: 20%;
     margin-top: 20%; 
     position: absolute;
      right: 0px;
      border-radius: 45px 0 0 45px;
      padding-left: 2%;
      color: #83480c;
 
}
.line{
    width: 80%;
    color: white;
    border: 1px solid;
    
}
.about-cont{
font-size: 20px;
color: #f0f0f0dd;
font-family: 'Times New Roman', Times, serif;
padding: 20px;
}
.img-about{
    width: 280px;
    height: 280px;
}
.img2-about{
    margin-top:50px;
    padding: 12px;
    border-left: 7px solid #5C774D;
}
.board{
    border-radius: 50%;
    width: 50px;
    height: 50px;
    
}
ol{
    display: flex;
    flex-wrap: wrap;
}
ol , li{
    margin-right: 23px;
    color: #638153b0;
    font-size: 15px;
    
}
.carousel.slide {
    width: 100%; 
    max-width: 1000px !important; 
   margin-left: 2%;

}
.controller{
    max-height: 400px !important;
width: 100%;
border-radius:25px;

}
.carousel-item{
    width: 100%; 
height: 400px;
border-radius:25px;
}
.carousel-inner{
    border-radius:25px;
}
.cas_img{
    width: 100%;
    height:400px;
   
}
.carousel-caption{
    background-color: #5c774da0;
    margin-left: 0px;
    display: flex;
}
.footer{
    width: 100%;
    height: fit-content;
    background-color: black;
    text-align: center;
    margin-left: 0px;
    color: rgb(61, 63, 61);
}
.help{
    color: rgb(61, 63, 61);
    font-weight: bold;  
    font-size: 17px;
    text-decoration: none;

}
.help:hover{
  
   color:#CF9 ;
}
.foot1{
    width: 100%;
    height: fit-content;
}
.offcanvas{
    height: 55vh;
    overflow: hidden;
    
    
}
.offcanvas-header{

    background-color:rgb(61, 63, 61) ;
    border: none;
}
.offcanvas-body{
    background-color:rgb(61, 63, 61) ;
    height: fit-content;
    border: none;

}
#cart_count{
    font-size: 20px;
    font-weight: bold;
    border-radius: 50%;
position: absolute;
top: 3px;
width: 30px;
text-align: center;
}
#save_btn{
    margin-left: 40px;
}
.form{
    width:100% ;
    height: 400px;
}
.ser-div{
    margin-top: 4%;
    padding-left: 3%;
}
.focus{
   font-size: 33px; 
   font-weight: bold;
   
}
.focus:nth-child(1){
    color: #CF9;
}
.focus1{
    width:80%;
    height: fit-content;
}
.serv-img{
    width: 100%;
    height:300px ;
    display: flex;

}
.ser-main{
    width: 100%;
    height: 200px;
    display: inline-block;
    list-style: none;
}
summary{
    color: #5C774D;
    font-weight: bold;
    border: 1px  #CF9 solid;
    margin-top: 10%;
    width: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
details{
    color: #CF9;
    background-color:rgb(61, 63, 61) ;
}
.check-info{
    color: white;
    font-size:10px ;
    color:rgb(61, 63, 61) ;
    font-weight: lighter;
    padding-left: 3px;
    background-color: rgb(247, 253, 241);
        line-height: 2; /* Increase the line spacing between paragraphs */
      
}
.form22{
    margin: auto;
}
p3{
    background-color: red;
}
/**
my{
    rgba(232, 250, 213, 0.589)
}